
<body id="top">

<%= render 'menu'%>


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="contact_area text-center">
                <h3>get in touch</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <!--End of row-->
    <div class="row">
        <div class="col-md-6">
            <div class="office">
                <div class="title">
                    <h5>our office info</h5>
                </div>
                <div class="office_location">
                    <div class="address">
                        <i class="fa fa-map-marker"><span>Elephant Road, Dhaka 1205, Bangladesh</span></i>
                    </div>
                    <div class="phone">
                        <i class="fa fa-phone"><span>+ 8801532-987039</span></i>
                    </div>
                    <div class="email">
                        <i class="fa fa-envelope"><span>youremail@mail.com</span></i>
                    </div>
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15551.80876525875!2d80.2630019!3d12.9749097!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x89ab9c5f88383a03!2sMarutham+Apartments!5e0!3m2!1sen!2sin!4v1527873781000" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="msg">
                <div class="msg_title">
                    <h5>Drop A Message</h5>
                </div>
                <div class="form_area">
                    <!-- CONTACT FORM -->
                    <div class="contact-form wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
                        <div id="message"></div>
                        <form action="scripts/contact.php" class="form-horizontal contact-1" role="form" name="contactform" id="contactform">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="subject" class="form-control" id="subject" placeholder="Subject *">
                                    <div class="text_area">
                                        <textarea style="height: 300px;" name="contact-message" id="msg" class="form-control" cols="30" rows="8" placeholder="Message"></textarea>
                                    </div>
                                    <button type="submit" class="btn custom-btn" data-loading-text="Loading...">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--End of col-md-6-->
    </div>
    <!--End of row-->
</div>


<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
</body>
