<body id="top">

<%= render 'menu'%>



<div class="fh5co-services">
	<div class="container">
		<div class="row" style="margin-left: -15px; margin-right: -15px;">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate"><span>We Offer Services</span></h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext">
						<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-center">
				<div class="box-services">
					<div class="icon to-animate">
						<span><i class="fa fa-car" aria-hidden="true"></i></span>
					</div>
					<div class="fh5co-post to-animate">
						<h3>Hand-crafted with Detailed</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>

				<div class="box-services">
					<div class="icon to-animate">
						<span><i class="fa fa-car" aria-hidden="true"></i></span>
					</div>
					<div class="fh5co-post to-animate">
						<h3>Light and Fast</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center">
				<div class="box-services">
					<div class="icon to-animate">
						<span><i class="fa fa-car" aria-hidden="true"></i></span>
					</div>
					<div class="fh5co-post to-animate">
						<h3>Award-winning Landing Page</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>

				<div class="box-services">
					<div class="icon to-animate">
						<span><i class="fa fa-car" aria-hidden="true"></i></span>
					</div>
					<div class="fh5co-post to-animate">
						<h3>Sleek and Smooth Animation</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center">
				<div class="box-services">
					<div class="icon to-animate">
						<span><i class="fa fa-car" aria-hidden="true"></i></span>
					</div>
					<div class="fh5co-post to-animate">
						<h3>Satisfied &amp; Happy Clients</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>

				<div class="box-services">
					<div class="icon to-animate">
						<span><i class="fa fa-car" aria-hidden="true"></i></span>
					</div>
					<div class="fh5co-post to-animate">
						<h3>Looks Amazing on Devices</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center">
				<div class="box-services">
					<div class="icon to-animate">
						<span><i class="fa fa-car" aria-hidden="true"></i></span>
					</div>
					<div class="fh5co-post to-animate">
						<h3>24/7 Help &amp; Support</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>

				<div class="box-services">
					<div class="icon to-animate">
						<span><i class="fa fa-car" aria-hidden="true"></i></span>
					</div>
					<div class="fh5co-post to-animate">
						<h3>Secure Account</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
</body>










